@page "/QuizTime";

@inject IHttpClientFactory _clientFactory

<h3>Quiz Data</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (quizTime is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in quizTime)
            {
                <tr>
                    <td>@q.QuizId</td>   
                    <td>@q.Title</td>
                    <td>@q.Question</td>
                    <td>@q.Answer</td>
                    <td>@q.Category</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    QuizDataModel[] quizTime;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://storage.googleapis.com/blazor-test-crap/data.json");

        var client = _clientFactory.CreateClient();

        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            quizTime = await response.Content.ReadFromJsonAsync<QuizDataModel[]>();
        }
        else
        {
            errorString = $"There was an error getting our forecast: { response.ReasonPhrase }";
        }

    }
}
